<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="info"
        internalLogFile="/NlogInternal.txt"
		throwConfigExceptions="true">


	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="console-info" value="${level} | ${logger} | ${message}"/>
	<variable name="console-trace" value="${level} | ${logger} | ${message} | ${exception:format=tostring} | url: ${aspnet-request-url}"/>
	<variable name="file-trace" value="${longdate} | ${level} | ${logger} | ${message} | ${exception:format=tostring} | url: ${aspnet-request-url}"/>
	<variable name="file-info" value="${longdate} | ${level} | ${logger} | ${message}"/>
	
	<targets async="true">
		<target name="logfile-trace" xsi:type="File" layout="${file-trace}" fileName="./Logs/Report/Log-${shortdate}.log" />
		
		<target name="logfile-info" xsi:type="File" layout="${file-info}" fileName="./Logs/Report/Log-${shortdate}.log" />
		
		<target name="info-console" xsi:type="ColoredConsole" layout="${console-info}" useDefaultRowHighlightingRules="false" >
			<highlight-word foregroundColor="Green" ignoreCase="true" text="info" wholeWords="true" />
			<highlight-word foregroundColor="Yellow" ignoreCase="true" text="warn" wholeWords="true" />
			<highlight-word foregroundColor="Red" ignoreCase="true" text="error" wholeWords="true" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
		</target>
		
		<target name="error-console" xsi:type="ColoredConsole" layout="${console-trace}" useDefaultRowHighlightingRules="false" >
			<highlight-word foregroundColor="Red" ignoreCase="true" text="error" wholeWords="true" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
		</target>
		
	</targets>

	<rules>
		<logger name="*" levels="Warn,Info,Debug" writeTo="info-console" />
		<logger name="*" levels="Fatal,Error,Trace" writeTo="error-console" />
		<logger name="*" levels="Warn,Info,Debug" writeTo="logfile-info" />
		<logger name="*" levels="Fatal,Error,Trace" writeTo="logfile-trace" />
	</rules>
</nlog>
